@charset "UTF-8";

#container {
    background-image: url(imagens/target001.png);
    background-size: 100% 100%;
    height: 500px;
    max-width: 1050px;
    background-color: purple;
    padding: 10px;
    margin: 0px;
    position: relative;
}

#content {
    background-image: url(imagens/target001.png);
    background-size: 100% 100%;
    height: 250px;
    width: 50%;
    max-width: 850px;
    background-color: yellow;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0px;
    padding: 0px;
    transform: translate(-50%, -50%);
}